In [2]:
import pandas as pd
import json

# Reemplaza 'ruta_del_archivo.csv' con la ruta real de tu archivo
df = pd.read_csv("C:\PerlaMar\GretaCombold\Progamacion\Data Science\M6\PI INDIVIDUAL\Movies\movies_dataset.csv", low_memory=False)

print(df.head())
print(df.dtypes)

   adult                              belongs_to_collection    budget  \
0  False  {'id': 10194, 'name': 'Toy Story Collection', ...  30000000
1  False                                                NaN  65000000
2  False  {'id': 119050, 'name': 'Grumpy Old Men Collect...         0
3  False                                                NaN  16000000
4  False  {'id': 96871, 'name': 'Father of the Bride Col...         0

                                              genres  \
0  [{'id': 16, 'name': 'Animation'}, {'id': 35, '...
1  [{'id': 12, 'name': 'Adventure'}, {'id': 14, '...
2  [{'id': 10749, 'name': 'Romance'}, {'id': 35, ...
3  [{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...
4                     [{'id': 35, 'name': 'Comedy'}]

                               homepage     id    imdb_id original_language  \
0  http://toystory.disney.com/toy-story    862  tt0114709                en
1                                   NaN   8844  tt0113497                en
2                                   NaN  15602  tt0113228                en
3                                   NaN  31357  tt0114885                en
4                                   NaN  11862  tt0113041                en

                original_title  \
0                    Toy Story
1                      Jumanji
2             Grumpier Old Men
3            Waiting to Exhale
4  Father of the Bride Part II

                                            overview  ... release_date  \
0  Led by Woody, Andy's toys live happily in his ...  ...   1995-10-30
1  When siblings Judy and Peter discover an encha...  ...   1995-12-15
2  A family wedding reignites the ancient feud be...  ...   1995-12-22
3  Cheated on, mistreated and stepped on, the wom...  ...   1995-12-22
4  Just when George Banks has recovered from his ...  ...   1995-02-10

       revenue runtime                                   spoken_languages  \
0  373554033.0    81.0           [{'iso_639_1': 'en', 'name': 'English'}]
1  262797249.0   104.0  [{'iso_639_1': 'en', 'name': 'English'}, {'iso...
2          0.0   101.0           [{'iso_639_1': 'en', 'name': 'English'}]
3   81452156.0   127.0           [{'iso_639_1': 'en', 'name': 'English'}]
4   76578911.0   106.0           [{'iso_639_1': 'en', 'name': 'English'}]

     status                                            tagline  \
0  Released                                                NaN
1  Released          Roll the dice and unleash the excitement!
2  Released  Still Yelling. Still Fighting. Still Ready for...
3  Released  Friends are the people who let you be yourself...
4  Released  Just When His World Is Back To Normal... He's ...

                         title  video vote_average vote_count
0                    Toy Story  False          7.7     5415.0
1                      Jumanji  False          6.9     2413.0
2             Grumpier Old Men  False          6.5       92.0
3            Waiting to Exhale  False          6.1       34.0
4  Father of the Bride Part II  False          5.7      173.0

[5 rows x 24 columns]
adult                     object
belongs_to_collection     object
budget                    object
genres                    object
homepage                  object
id                        object
imdb_id                   object
original_language         object
original_title            object
overview                  object
popularity                object
poster_path               object
production_companies      object
production_countries      object
release_date              object
revenue                  float64
runtime                  float64
spoken_languages          object
status                    object
tagline                   object
title                     object
video                     object
vote_average             float64
vote_count               float64
dtype: object

In [3]:
print(df.head())  # Muestra las primeras filas
print(df.columns)  # Verifica las columnas

   adult                              belongs_to_collection    budget  \
0  False  {'id': 10194, 'name': 'Toy Story Collection', ...  30000000
1  False                                                NaN  65000000
2  False  {'id': 119050, 'name': 'Grumpy Old Men Collect...         0
3  False                                                NaN  16000000
4  False  {'id': 96871, 'name': 'Father of the Bride Col...         0

                                              genres  \
0  [{'id': 16, 'name': 'Animation'}, {'id': 35, '...
1  [{'id': 12, 'name': 'Adventure'}, {'id': 14, '...
2  [{'id': 10749, 'name': 'Romance'}, {'id': 35, ...
3  [{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...
4                     [{'id': 35, 'name': 'Comedy'}]

                               homepage     id    imdb_id original_language  \
0  http://toystory.disney.com/toy-story    862  tt0114709                en
1                                   NaN   8844  tt0113497                en
2                                   NaN  15602  tt0113228                en
3                                   NaN  31357  tt0114885                en
4                                   NaN  11862  tt0113041                en

                original_title  \
0                    Toy Story
1                      Jumanji
2             Grumpier Old Men
3            Waiting to Exhale
4  Father of the Bride Part II

                                            overview  ... release_date  \
0  Led by Woody, Andy's toys live happily in his ...  ...   1995-10-30
1  When siblings Judy and Peter discover an encha...  ...   1995-12-15
2  A family wedding reignites the ancient feud be...  ...   1995-12-22
3  Cheated on, mistreated and stepped on, the wom...  ...   1995-12-22
4  Just when George Banks has recovered from his ...  ...   1995-02-10

       revenue runtime                                   spoken_languages  \
0  373554033.0    81.0           [{'iso_639_1': 'en', 'name': 'English'}]
1  262797249.0   104.0  [{'iso_639_1': 'en', 'name': 'English'}, {'iso...
2          0.0   101.0           [{'iso_639_1': 'en', 'name': 'English'}]
3   81452156.0   127.0           [{'iso_639_1': 'en', 'name': 'English'}]
4   76578911.0   106.0           [{'iso_639_1': 'en', 'name': 'English'}]

     status                                            tagline  \
0  Released                                                NaN
1  Released          Roll the dice and unleash the excitement!
2  Released  Still Yelling. Still Fighting. Still Ready for...
3  Released  Friends are the people who let you be yourself...
4  Released  Just When His World Is Back To Normal... He's ...

                         title  video vote_average vote_count
0                    Toy Story  False          7.7     5415.0
1                      Jumanji  False          6.9     2413.0
2             Grumpier Old Men  False          6.5       92.0
3            Waiting to Exhale  False          6.1       34.0
4  Father of the Bride Part II  False          5.7      173.0

[5 rows x 24 columns]
Index(['adult', 'belongs_to_collection', 'budget', 'genres', 'homepage', 'id',
       'imdb_id', 'original_language', 'original_title', 'overview',
       'popularity', 'poster_path', 'production_companies',
       'production_countries', 'release_date', 'revenue', 'runtime',
       'spoken_languages', 'status', 'tagline', 'title', 'video',
       'vote_average', 'vote_count'],
      dtype='object')

In [4]:
print(df[['belongs_to_collection', 'genres', 'production_companies', 'production_countries', 'spoken_languages']].dtypes)

belongs_to_collection    object
genres                   object
production_companies     object
production_countries     object
spoken_languages         object
dtype: object

In [5]:
print(type(df['belongs_to_collection'][0]))  # Verifica el tipo del primer valor
print(df['belongs_to_collection'].head())  # Verifica el contenido de la columna

<class 'str'>
0    {'id': 10194, 'name': 'Toy Story Collection', ...
1                                                  NaN
2    {'id': 119050, 'name': 'Grumpy Old Men Collect...
3                                                  NaN
4    {'id': 96871, 'name': 'Father of the Bride Col...
Name: belongs_to_collection, dtype: object

In [6]:
import ast

# Convierte los valores de `belongs_to_collection` en diccionarios
df['belongs_to_collection'] = df['belongs_to_collection'].apply(lambda x: ast.literal_eval(x) if isinstance(x, str) else x)

In [7]:
# Desanidar la columna 'belongs_to_collection'
if df['belongs_to_collection'].notna().any():
    df_belongs_to_collection = pd.json_normalize(df['belongs_to_collection'])
    # Agrega un prefijo para diferenciar estas columnas
    df_belongs_to_collection.columns = [f"collection_{col}" for col in df_belongs_to_collection.columns]
    # Concatenar al DataFrame original
    df = pd.concat([df.drop(columns=['belongs_to_collection']), df_belongs_to_collection], axis=1)

In [8]:
print("Columnas finales del DataFrame:", df.columns)
print(df.head())

Columnas finales del DataFrame: Index(['adult', 'budget', 'genres', 'homepage', 'id', 'imdb_id',
       'original_language', 'original_title', 'overview', 'popularity',
       'poster_path', 'production_companies', 'production_countries',
       'release_date', 'revenue', 'runtime', 'spoken_languages', 'status',
       'tagline', 'title', 'video', 'vote_average', 'vote_count',
       'collection_id', 'collection_name', 'collection_poster_path',
       'collection_backdrop_path'],
      dtype='object')
   adult    budget                                             genres  \
0  False  30000000  [{'id': 16, 'name': 'Animation'}, {'id': 35, '...
1  False  65000000  [{'id': 12, 'name': 'Adventure'}, {'id': 14, '...
2  False         0  [{'id': 10749, 'name': 'Romance'}, {'id': 35, ...
3  False  16000000  [{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...
4  False         0                     [{'id': 35, 'name': 'Comedy'}]

                               homepage     id    imdb_id original_language  \
0  http://toystory.disney.com/toy-story    862  tt0114709                en
1                                   NaN   8844  tt0113497                en
2                                   NaN  15602  tt0113228                en
3                                   NaN  31357  tt0114885                en
4                                   NaN  11862  tt0113041                en

                original_title  \
0                    Toy Story
1                      Jumanji
2             Grumpier Old Men
3            Waiting to Exhale
4  Father of the Bride Part II

                                            overview popularity  ...  \
0  Led by Woody, Andy's toys live happily in his ...  21.946943  ...
1  When siblings Judy and Peter discover an encha...  17.015539  ...
2  A family wedding reignites the ancient feud be...    11.7129  ...
3  Cheated on, mistreated and stepped on, the wom...   3.859495  ...
4  Just when George Banks has recovered from his ...   8.387519  ...

     status                                            tagline  \
0  Released                                                NaN
1  Released          Roll the dice and unleash the excitement!
2  Released  Still Yelling. Still Fighting. Still Ready for...
3  Released  Friends are the people who let you be yourself...
4  Released  Just When His World Is Back To Normal... He's ...

                         title  video  vote_average  vote_count collection_id  \
0                    Toy Story  False           7.7      5415.0       10194.0
1                      Jumanji  False           6.9      2413.0           NaN
2             Grumpier Old Men  False           6.5        92.0      119050.0
3            Waiting to Exhale  False           6.1        34.0           NaN
4  Father of the Bride Part II  False           5.7       173.0       96871.0

                  collection_name            collection_poster_path  \
0            Toy Story Collection  /7G9915LfUQ2lVfwMEEhDsn3kT4B.jpg
1                             NaN                               NaN
2       Grumpy Old Men Collection  /nLvUdqgPgm3F85NMCii9gVFUcet.jpg
3                             NaN                               NaN
4  Father of the Bride Collection  /nts4iOmNnq7GNicycMJ9pSAn204.jpg

           collection_backdrop_path
0  /9FBwqcd9IRruEDUrTdcaafOMKUq.jpg
1                               NaN
2  /hypTnLot2z8wpFS7qwsQHW1uV8u.jpg
3                               NaN
4  /7qwE57OVZmMJChBpLEbJEmzUydk.jpg

[5 rows x 27 columns]

In [9]:
import pandas as pd

# Si no está en formato JSON, conviértelo
df['genres'] = df['genres'].apply(lambda x: eval(x) if isinstance(x, str) else x)

# Desanidar la columna 'genres'
genres_df = df.explode('genres')  # Cada género en una nueva fila
genres_df = pd.concat([genres_df.drop(['genres'], axis=1), genres_df['genres'].apply(pd.Series)], axis=1)

# Agregar un prefijo para diferenciar estas columnas
genres_df.columns = [f"genres_{col}" for col in genres_df.columns]

# Concatenar los nuevos datos de 'genres' al DataFrame original df
df = pd.concat([df.drop('genres', axis=1), genres_df], axis=1)

# Verifica el resultado
print(df.head())
print("Columnas actuales del DataFrame:", df.columns)
print("Dimensiones del DataFrame después de desanidar:", df.shape)

   adult    budget                              homepage    id    imdb_id  \
0  False  30000000  http://toystory.disney.com/toy-story   862  tt0114709
0  False  30000000  http://toystory.disney.com/toy-story   862  tt0114709
0  False  30000000  http://toystory.disney.com/toy-story   862  tt0114709
1  False  65000000                                   NaN  8844  tt0113497
1  False  65000000                                   NaN  8844  tt0113497

  original_language original_title  \
0                en      Toy Story
0                en      Toy Story
0                en      Toy Story
1                en        Jumanji
1                en        Jumanji

                                            overview popularity  \
0  Led by Woody, Andy's toys live happily in his ...  21.946943
0  Led by Woody, Andy's toys live happily in his ...  21.946943
0  Led by Woody, Andy's toys live happily in his ...  21.946943
1  When siblings Judy and Peter discover an encha...  17.015539
1  When siblings Judy and Peter discover an encha...  17.015539

                        poster_path  ... genres_video genres_vote_average  \
0  /rhIRbceoE9lR4veEXuwCC2wARtG.jpg  ...        False                 7.7
0  /rhIRbceoE9lR4veEXuwCC2wARtG.jpg  ...        False                 7.7
0  /rhIRbceoE9lR4veEXuwCC2wARtG.jpg  ...        False                 7.7
1  /vzmL6fP7aPKNKPRTFnZmiUfciyV.jpg  ...        False                 6.9
1  /vzmL6fP7aPKNKPRTFnZmiUfciyV.jpg  ...        False                 6.9

  genres_vote_count  genres_collection_id  genres_collection_name  \
0            5415.0               10194.0    Toy Story Collection
0            5415.0               10194.0    Toy Story Collection
0            5415.0               10194.0    Toy Story Collection
1            2413.0                   NaN                     NaN
1            2413.0                   NaN                     NaN

      genres_collection_poster_path   genres_collection_backdrop_path  \
0  /7G9915LfUQ2lVfwMEEhDsn3kT4B.jpg  /9FBwqcd9IRruEDUrTdcaafOMKUq.jpg
0  /7G9915LfUQ2lVfwMEEhDsn3kT4B.jpg  /9FBwqcd9IRruEDUrTdcaafOMKUq.jpg
0  /7G9915LfUQ2lVfwMEEhDsn3kT4B.jpg  /9FBwqcd9IRruEDUrTdcaafOMKUq.jpg
1                               NaN                               NaN
1                               NaN                               NaN

  genres_id genres_name genres_0
0      16.0   Animation      NaN
0      35.0      Comedy      NaN
0   10751.0      Family      NaN
1      12.0   Adventure      NaN
1      14.0     Fantasy      NaN

[5 rows x 55 columns]
Columnas actuales del DataFrame: Index(['adult', 'budget', 'homepage', 'id', 'imdb_id', 'original_language',
       'original_title', 'overview', 'popularity', 'poster_path',
       'production_companies', 'production_countries', 'release_date',
       'revenue', 'runtime', 'spoken_languages', 'status', 'tagline', 'title',
       'video', 'vote_average', 'vote_count', 'collection_id',
       'collection_name', 'collection_poster_path', 'collection_backdrop_path',
       'genres_adult', 'genres_budget', 'genres_homepage', 'genres_id',
       'genres_imdb_id', 'genres_original_language', 'genres_original_title',
       'genres_overview', 'genres_popularity', 'genres_poster_path',
       'genres_production_companies', 'genres_production_countries',
       'genres_release_date', 'genres_revenue', 'genres_runtime',
       'genres_spoken_languages', 'genres_status', 'genres_tagline',
       'genres_title', 'genres_video', 'genres_vote_average',
       'genres_vote_count', 'genres_collection_id', 'genres_collection_name',
       'genres_collection_poster_path', 'genres_collection_backdrop_path',
       'genres_id', 'genres_name', 'genres_0'],
      dtype='object')
Dimensiones del DataFrame después de desanidar: (93548, 55)

In [10]:
# Ver las primeras filas para comprobar la estructura
print(df.head())

# Ver el número de filas y columnas
print("Dimensiones del DataFrame después de desanidar:", df.shape)

# Ver las columnas del DataFrame
print("Columnas actuales del DataFrame:", df.columns)

   adult    budget                              homepage    id    imdb_id  \
0  False  30000000  http://toystory.disney.com/toy-story   862  tt0114709
0  False  30000000  http://toystory.disney.com/toy-story   862  tt0114709
0  False  30000000  http://toystory.disney.com/toy-story   862  tt0114709
1  False  65000000                                   NaN  8844  tt0113497
1  False  65000000                                   NaN  8844  tt0113497

  original_language original_title  \
0                en      Toy Story
0                en      Toy Story
0                en      Toy Story
1                en        Jumanji
1                en        Jumanji

                                            overview popularity  \
0  Led by Woody, Andy's toys live happily in his ...  21.946943
0  Led by Woody, Andy's toys live happily in his ...  21.946943
0  Led by Woody, Andy's toys live happily in his ...  21.946943
1  When siblings Judy and Peter discover an encha...  17.015539
1  When siblings Judy and Peter discover an encha...  17.015539

                        poster_path  ... genres_video genres_vote_average  \
0  /rhIRbceoE9lR4veEXuwCC2wARtG.jpg  ...        False                 7.7
0  /rhIRbceoE9lR4veEXuwCC2wARtG.jpg  ...        False                 7.7
0  /rhIRbceoE9lR4veEXuwCC2wARtG.jpg  ...        False                 7.7
1  /vzmL6fP7aPKNKPRTFnZmiUfciyV.jpg  ...        False                 6.9
1  /vzmL6fP7aPKNKPRTFnZmiUfciyV.jpg  ...        False                 6.9

  genres_vote_count  genres_collection_id  genres_collection_name  \
0            5415.0               10194.0    Toy Story Collection
0            5415.0               10194.0    Toy Story Collection
0            5415.0               10194.0    Toy Story Collection
1            2413.0                   NaN                     NaN
1            2413.0                   NaN                     NaN

      genres_collection_poster_path   genres_collection_backdrop_path  \
0  /7G9915LfUQ2lVfwMEEhDsn3kT4B.jpg  /9FBwqcd9IRruEDUrTdcaafOMKUq.jpg
0  /7G9915LfUQ2lVfwMEEhDsn3kT4B.jpg  /9FBwqcd9IRruEDUrTdcaafOMKUq.jpg
0  /7G9915LfUQ2lVfwMEEhDsn3kT4B.jpg  /9FBwqcd9IRruEDUrTdcaafOMKUq.jpg
1                               NaN                               NaN
1                               NaN                               NaN

  genres_id genres_name genres_0
0      16.0   Animation      NaN
0      35.0      Comedy      NaN
0   10751.0      Family      NaN
1      12.0   Adventure      NaN
1      14.0     Fantasy      NaN

[5 rows x 55 columns]
Dimensiones del DataFrame después de desanidar: (93548, 55)
Columnas actuales del DataFrame: Index(['adult', 'budget', 'homepage', 'id', 'imdb_id', 'original_language',
       'original_title', 'overview', 'popularity', 'poster_path',
       'production_companies', 'production_countries', 'release_date',
       'revenue', 'runtime', 'spoken_languages', 'status', 'tagline', 'title',
       'video', 'vote_average', 'vote_count', 'collection_id',
       'collection_name', 'collection_poster_path', 'collection_backdrop_path',
       'genres_adult', 'genres_budget', 'genres_homepage', 'genres_id',
       'genres_imdb_id', 'genres_original_language', 'genres_original_title',
       'genres_overview', 'genres_popularity', 'genres_poster_path',
       'genres_production_companies', 'genres_production_countries',
       'genres_release_date', 'genres_revenue', 'genres_runtime',
       'genres_spoken_languages', 'genres_status', 'genres_tagline',
       'genres_title', 'genres_video', 'genres_vote_average',
       'genres_vote_count', 'genres_collection_id', 'genres_collection_name',
       'genres_collection_poster_path', 'genres_collection_backdrop_path',
       'genres_id', 'genres_name', 'genres_0'],
      dtype='object')

In [11]:
duplicate_columns = df.columns[df.columns.duplicated()].unique()
print("Columnas duplicadas:", duplicate_columns)

Columnas duplicadas: Index(['genres_id'], dtype='object')

In [12]:
# Paso 1: Verifica el tipo de datos de la columna
print("Tipo de datos de 'production_companies':", df['production_companies'].dtype)

# Paso 2: Muestra algunas filas de la columna
print("\nContenido de la columna 'production_companies':")
print(df['production_companies'].head())

# Paso 3: Si la columna tiene datos que parecen ser JSON, puedes evaluar un ejemplo más
# Verifica el contenido de una fila específica (por ejemplo, la primera)
if isinstance(df['production_companies'].iloc[0], str):
    example_data = eval(df['production_companies'].iloc[0])  # Asegúrate de que sea seguro usar eval
    print("\nEjemplo de datos anidados en 'production_companies':", example_data)

Tipo de datos de 'production_companies': object

Contenido de la columna 'production_companies':
0       [{'name': 'Pixar Animation Studios', 'id': 3}]
0       [{'name': 'Pixar Animation Studios', 'id': 3}]
0       [{'name': 'Pixar Animation Studios', 'id': 3}]
1    [{'name': 'TriStar Pictures', 'id': 559}, {'na...
1    [{'name': 'TriStar Pictures', 'id': 559}, {'na...
Name: production_companies, dtype: object

Ejemplo de datos anidados en 'production_companies': [{'name': 'Pixar Animation Studios', 'id': 3}]

In [13]:
# Mostrar las columnas y su conteo
print("Columnas del DataFrame antes de explotar:")
print(df.columns.tolist())
print("Conteo de columnas antes de explotar:")
print(df.columns.value_counts())

# También, muestra las primeras filas del DataFrame para revisar su estructura
print("Primeras filas del DataFrame:")
print(df.head())

Columnas del DataFrame antes de explotar:
['adult', 'budget', 'homepage', 'id', 'imdb_id', 'original_language', 'original_title', 'overview', 'popularity', 'poster_path', 'production_companies', 'production_countries', 'release_date', 'revenue', 'runtime', 'spoken_languages', 'status', 'tagline', 'title', 'video', 'vote_average', 'vote_count', 'collection_id', 'collection_name', 'collection_poster_path', 'collection_backdrop_path', 'genres_adult', 'genres_budget', 'genres_homepage', 'genres_id', 'genres_imdb_id', 'genres_original_language', 'genres_original_title', 'genres_overview', 'genres_popularity', 'genres_poster_path', 'genres_production_companies', 'genres_production_countries', 'genres_release_date', 'genres_revenue', 'genres_runtime', 'genres_spoken_languages', 'genres_status', 'genres_tagline', 'genres_title', 'genres_video', 'genres_vote_average', 'genres_vote_count', 'genres_collection_id', 'genres_collection_name', 'genres_collection_poster_path', 'genres_collection_backdrop_path', 'genres_id', 'genres_name', 'genres_0']
Conteo de columnas antes de explotar:
genres_id                          2
adult                              1
genres_runtime                     1
genres_imdb_id                     1
genres_original_language           1
genres_original_title              1
genres_overview                    1
genres_popularity                  1
genres_poster_path                 1
genres_production_companies        1
genres_production_countries        1
genres_release_date                1
genres_revenue                     1
genres_spoken_languages            1
budget                             1
genres_status                      1
genres_tagline                     1
genres_title                       1
genres_video                       1
genres_vote_average                1
genres_vote_count                  1
genres_collection_id               1
genres_collection_name             1
genres_collection_poster_path      1
genres_collection_backdrop_path    1
genres_name                        1
genres_homepage                    1
genres_budget                      1
genres_adult                       1
collection_backdrop_path           1
homepage                           1
id                                 1
imdb_id                            1
original_language                  1
original_title                     1
overview                           1
popularity                         1
poster_path                        1
production_companies               1
production_countries               1
release_date                       1
revenue                            1
runtime                            1
spoken_languages                   1
status                             1
tagline                            1
title                              1
video                              1
vote_average                       1
vote_count                         1
collection_id                      1
collection_name                    1
collection_poster_path             1
genres_0                           1
Name: count, dtype: int64
Primeras filas del DataFrame:
   adult    budget                              homepage    id    imdb_id  \
0  False  30000000  http://toystory.disney.com/toy-story   862  tt0114709
0  False  30000000  http://toystory.disney.com/toy-story   862  tt0114709
0  False  30000000  http://toystory.disney.com/toy-story   862  tt0114709
1  False  65000000                                   NaN  8844  tt0113497
1  False  65000000                                   NaN  8844  tt0113497

  original_language original_title  \
0                en      Toy Story
0                en      Toy Story
0                en      Toy Story
1                en        Jumanji
1                en        Jumanji

                                            overview popularity  \
0  Led by Woody, Andy's toys live happily in his ...  21.946943
0  Led by Woody, Andy's toys live happily in his ...  21.946943
0  Led by Woody, Andy's toys live happily in his ...  21.946943
1  When siblings Judy and Peter discover an encha...  17.015539
1  When siblings Judy and Peter discover an encha...  17.015539

                        poster_path  ... genres_video genres_vote_average  \
0  /rhIRbceoE9lR4veEXuwCC2wARtG.jpg  ...        False                 7.7
0  /rhIRbceoE9lR4veEXuwCC2wARtG.jpg  ...        False                 7.7
0  /rhIRbceoE9lR4veEXuwCC2wARtG.jpg  ...        False                 7.7
1  /vzmL6fP7aPKNKPRTFnZmiUfciyV.jpg  ...        False                 6.9
1  /vzmL6fP7aPKNKPRTFnZmiUfciyV.jpg  ...        False                 6.9

  genres_vote_count  genres_collection_id  genres_collection_name  \
0            5415.0               10194.0    Toy Story Collection
0            5415.0               10194.0    Toy Story Collection
0            5415.0               10194.0    Toy Story Collection
1            2413.0                   NaN                     NaN
1            2413.0                   NaN                     NaN

      genres_collection_poster_path   genres_collection_backdrop_path  \
0  /7G9915LfUQ2lVfwMEEhDsn3kT4B.jpg  /9FBwqcd9IRruEDUrTdcaafOMKUq.jpg
0  /7G9915LfUQ2lVfwMEEhDsn3kT4B.jpg  /9FBwqcd9IRruEDUrTdcaafOMKUq.jpg
0  /7G9915LfUQ2lVfwMEEhDsn3kT4B.jpg  /9FBwqcd9IRruEDUrTdcaafOMKUq.jpg
1                               NaN                               NaN
1                               NaN                               NaN

  genres_id genres_name genres_0
0      16.0   Animation      NaN
0      35.0      Comedy      NaN
0   10751.0      Family      NaN
1      12.0   Adventure      NaN
1      14.0     Fantasy      NaN

[5 rows x 55 columns]

In [14]:
# Filtrar columnas que contienen "production"
print(df.filter(like='production').columns.tolist())

['production_companies', 'production_countries', 'genres_production_companies', 'genres_production_countries']

In [15]:

# Función para comparar dos columnas y verificar si son iguales
def compare_columns(df, col1, col2):
    # Comprobar si las columnas existen
    if col1 in df.columns and col2 in df.columns:
        # Comparar las columnas
        are_equal = df[col1].equals(df[col2])
        return are_equal
    else:
        return None  # Si alguna columna no existe

# Verificar las columnas problemáticas
results = {
    'production_companies vs genres_production_companies': compare_columns(df, 'production_companies', 'genres_production_companies'),
    'production_countries vs genres_production_countries': compare_columns(df, 'production_countries', 'genres_production_countries'),
}

# Imprimir los resultados de la comparación
for comparison, result in results.items():
    if result is None:
        print(f"Una de las columnas en '{comparison}' no existe.")
    else:
        print(f"{comparison}: {'Iguales' if result else 'Diferentes'}")

production_companies vs genres_production_companies: Iguales
production_countries vs genres_production_countries: Iguales

In [16]:
# Eliminar las columnas duplicadas
df = df.drop(columns=['genres_production_companies', 'genres_production_countries'])

# Verificar el resultado
print("Columnas después de eliminar las duplicadas:", df.columns)

Columnas después de eliminar las duplicadas: Index(['adult', 'budget', 'homepage', 'id', 'imdb_id', 'original_language',
       'original_title', 'overview', 'popularity', 'poster_path',
       'production_companies', 'production_countries', 'release_date',
       'revenue', 'runtime', 'spoken_languages', 'status', 'tagline', 'title',
       'video', 'vote_average', 'vote_count', 'collection_id',
       'collection_name', 'collection_poster_path', 'collection_backdrop_path',
       'genres_adult', 'genres_budget', 'genres_homepage', 'genres_id',
       'genres_imdb_id', 'genres_original_language', 'genres_original_title',
       'genres_overview', 'genres_popularity', 'genres_poster_path',
       'genres_release_date', 'genres_revenue', 'genres_runtime',
       'genres_spoken_languages', 'genres_status', 'genres_tagline',
       'genres_title', 'genres_video', 'genres_vote_average',
       'genres_vote_count', 'genres_collection_id', 'genres_collection_name',
       'genres_collection_poster_path', 'genres_collection_backdrop_path',
       'genres_id', 'genres_name', 'genres_0'],
      dtype='object')

In [17]:
# Función para encontrar y eliminar columnas duplicadas
def remove_duplicate_columns(df):
    cols_to_remove = []
    for i in range(len(df.columns)):
        for j in range(i + 1, len(df.columns)):
            col1 = df.columns[i]
            col2 = df.columns[j]
            if df[col1].equals(df[col2]):
                print(f"Columnas duplicadas encontradas: {col1} vs {col2}")
                cols_to_remove.append(col2)  # Marcar la segunda columna para eliminar
    # Eliminar las columnas duplicadas
    df = df.drop(columns=cols_to_remove)
    return df

# Aplicar la función al DataFrame
df_cleaned = remove_duplicate_columns(df)

# Verificar el resultado
print("Columnas después de eliminar las duplicadas:", df_cleaned.columns)

Columnas duplicadas encontradas: adult vs genres_adult
Columnas duplicadas encontradas: budget vs genres_budget
Columnas duplicadas encontradas: homepage vs genres_homepage
Columnas duplicadas encontradas: imdb_id vs genres_imdb_id
Columnas duplicadas encontradas: original_language vs genres_original_language
Columnas duplicadas encontradas: original_title vs genres_original_title
Columnas duplicadas encontradas: overview vs genres_overview
Columnas duplicadas encontradas: popularity vs genres_popularity
Columnas duplicadas encontradas: poster_path vs genres_poster_path
Columnas duplicadas encontradas: release_date vs genres_release_date
Columnas duplicadas encontradas: revenue vs genres_revenue
Columnas duplicadas encontradas: runtime vs genres_runtime
Columnas duplicadas encontradas: spoken_languages vs genres_spoken_languages
Columnas duplicadas encontradas: status vs genres_status
Columnas duplicadas encontradas: tagline vs genres_tagline
Columnas duplicadas encontradas: title vs genres_title
Columnas duplicadas encontradas: video vs genres_video
Columnas duplicadas encontradas: vote_average vs genres_vote_average
Columnas duplicadas encontradas: vote_count vs genres_vote_count
Columnas duplicadas encontradas: collection_id vs genres_collection_id
Columnas duplicadas encontradas: collection_name vs genres_collection_name
Columnas duplicadas encontradas: collection_poster_path vs genres_collection_poster_path
Columnas duplicadas encontradas: collection_backdrop_path vs genres_collection_backdrop_path
Columnas duplicadas encontradas: genres_id vs genres_id
Columnas después de eliminar las duplicadas: Index(['adult', 'budget', 'homepage', 'id', 'imdb_id', 'original_language',
       'original_title', 'overview', 'popularity', 'poster_path',
       'production_companies', 'production_countries', 'release_date',
       'revenue', 'runtime', 'spoken_languages', 'status', 'tagline', 'title',
       'video', 'vote_average', 'vote_count', 'collection_id',
       'collection_name', 'collection_poster_path', 'collection_backdrop_path',
       'genres_name', 'genres_0'],
      dtype='object')

In [18]:
df_cleaned

,adult,budget,homepage,id,imdb_id,original_language,original_title,overview,popularity,poster_path,...,title,video,vote_average,vote_count,collection_id,collection_name,collection_poster_path,collection_backdrop_path,genres_name,genres_0
0,False,30000000,http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",21.946943,/rhIRbceoE9lR4veEXuwCC2wARtG.jpg,...,Toy Story,False,7.7,5415.0,10194.0,Toy Story Collection,/7G9915LfUQ2lVfwMEEhDsn3kT4B.jpg,/9FBwqcd9IRruEDUrTdcaafOMKUq.jpg,Animation,NaN
0,False,30000000,http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",21.946943,/rhIRbceoE9lR4veEXuwCC2wARtG.jpg,...,Toy Story,False,7.7,5415.0,10194.0,Toy Story Collection,/7G9915LfUQ2lVfwMEEhDsn3kT4B.jpg,/9FBwqcd9IRruEDUrTdcaafOMKUq.jpg,Comedy,NaN
0,False,30000000,http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",21.946943,/rhIRbceoE9lR4veEXuwCC2wARtG.jpg,...,Toy Story,False,7.7,5415.0,10194.0,Toy Story Collection,/7G9915LfUQ2lVfwMEEhDsn3kT4B.jpg,/9FBwqcd9IRruEDUrTdcaafOMKUq.jpg,Family,NaN
1,False,65000000,NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,17.015539,/vzmL6fP7aPKNKPRTFnZmiUfciyV.jpg,...,Jumanji,False,6.9,2413.0,NaN,NaN,NaN,NaN,Adventure,NaN
1,False,65000000,NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,17.015539,/vzmL6fP7aPKNKPRTFnZmiUfciyV.jpg,...,Jumanji,False,6.9,2413.0,NaN,NaN,NaN,NaN,Fantasy,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45463,False,0,NaN,67758,tt0303758,en,Betrayal,"When one of her hits goes wrong, a professiona...",0.903007,/d5bX92nDsISNhu3ZT69uHwmfCGw.jpg,...,Betrayal,False,3.8,6.0,NaN,NaN,NaN,NaN,Action,NaN
45463,False,0,NaN,67758,tt0303758,en,Betrayal,"When one of her hits goes wrong, a professiona...",0.903007,/d5bX92nDsISNhu3ZT69uHwmfCGw.jpg,...,Betrayal,False,3.8,6.0,NaN,NaN,NaN,NaN,Drama,NaN
45463,False,0,NaN,67758,tt0303758,en,Betrayal,"When one of her hits goes wrong, a professiona...",0.903007,/d5bX92nDsISNhu3ZT69uHwmfCGw.jpg,...,Betrayal,False,3.8,6.0,NaN,NaN,NaN,NaN,Thriller,NaN
45464,False,0,NaN,227506,tt0008536,en,Satana likuyushchiy,"In a small town live two brothers, one a minis...",0.003503,/aorBPO7ak8e8iJKT5OcqYxU3jlK.jpg,...,Satan Triumphant,False,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
45465,False,0,NaN,461257,tt6980792,en,Queerama,50 years after decriminalisation of homosexual...,0.163015,/s5UkZt6NTsrS7ZF0Rh8nzupRlIU.jpg,...,Queerama,False,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN

In [19]:
# Mostrar la columna 'production_companies' en df_cleaned
if 'production_companies' in df_cleaned.columns:
    print(df_cleaned['production_companies'].head())
else:
    print("La columna 'production_companies' no existe en df_cleaned.")

0       [{'name': 'Pixar Animation Studios', 'id': 3}]
0       [{'name': 'Pixar Animation Studios', 'id': 3}]
0       [{'name': 'Pixar Animation Studios', 'id': 3}]
1    [{'name': 'TriStar Pictures', 'id': 559}, {'na...
1    [{'name': 'TriStar Pictures', 'id': 559}, {'na...
Name: production_companies, dtype: object

In [20]:
print("\nTipos de datos en 'production_companies':")
print(df_cleaned['production_companies'].apply(type).value_counts())

Tipos de datos en 'production_companies':
production_companies
<class 'str'>      93539
<class 'float'>        9
Name: count, dtype: int64

In [21]:
# Tomar una muestra de 5 elementos de la lista de producción
sample_production_companies = df_cleaned['production_companies'].dropna().sample(5).tolist()
for i, entry in enumerate(sample_production_companies, start=1):
    print(f"\nElemento {i} en 'production_companies': {entry}")

Elemento 1 en 'production_companies': []

Elemento 2 en 'production_companies': [{'name': 'Original Film', 'id': 333}, {'name': 'Columbia Pictures Corporation', 'id': 441}, {'name': 'Revolution Studios', 'id': 497}, {'name': 'Happy Madison Productions', 'id': 2608}]

Elemento 3 en 'production_companies': []

Elemento 4 en 'production_companies': [{'name': 'Renaissance Pictures', 'id': 467}]

Elemento 5 en 'production_companies': [{'name': 'CTB Film Company', 'id': 318}, {'name': 'Wizart Animation', 'id': 46315}]

In [22]:
print("\nConteo de compañías de producción por fila:")
print(df_cleaned['production_companies'].apply(lambda x: len(x) if isinstance(x, list) else 0).value_counts())

Conteo de compañías de producción por fila:
production_companies
0    93548
Name: count, dtype: int64

In [23]:
invalid_entries = df_cleaned['production_companies'].apply(
    lambda x: any(not isinstance(item, dict) for item in x) if isinstance(x, list) else False
)
print("\nNúmero de filas con elementos no válidos en 'production_companies':", invalid_entries.sum())

Número de filas con elementos no válidos en 'production_companies': 0

In [24]:
print("Primeras filas de 'production_companies':")
print(df_cleaned['production_companies'].head(10))

Primeras filas de 'production_companies':
0       [{'name': 'Pixar Animation Studios', 'id': 3}]
0       [{'name': 'Pixar Animation Studios', 'id': 3}]
0       [{'name': 'Pixar Animation Studios', 'id': 3}]
1    [{'name': 'TriStar Pictures', 'id': 559}, {'na...
1    [{'name': 'TriStar Pictures', 'id': 559}, {'na...
1    [{'name': 'TriStar Pictures', 'id': 559}, {'na...
2    [{'name': 'Warner Bros.', 'id': 6194}, {'name'...
2    [{'name': 'Warner Bros.', 'id': 6194}, {'name'...
3    [{'name': 'Twentieth Century Fox Film Corporat...
3    [{'name': 'Twentieth Century Fox Film Corporat...
Name: production_companies, dtype: object

In [25]:


# Convertir los datos en formato string a listas de diccionarios
df_cleaned['production_companies'] = df_cleaned['production_companies'].apply(
    lambda x: ast.literal_eval(x) if isinstance(x, str) else x
)

# Desanidar 'production_companies'
production_companies_expanded = df_cleaned.explode('production_companies')
production_companies_expanded[['company_name', 'company_id']] = pd.json_normalize(
    production_companies_expanded['production_companies']
)

# Eliminar la columna anidada original y cualquier columna duplicada que no necesitemos
production_companies_expanded.drop(columns=['production_companies'], inplace=True)
production_companies_expanded.drop_duplicates(inplace=True)

print("Primeras filas de 'production_companies' desanidadas:")
print(production_companies_expanded.head())

Primeras filas de 'production_companies' desanidadas:
   adult    budget                              homepage    id    imdb_id  \
0  False  30000000  http://toystory.disney.com/toy-story   862  tt0114709
0  False  30000000  http://toystory.disney.com/toy-story   862  tt0114709
0  False  30000000  http://toystory.disney.com/toy-story   862  tt0114709
1  False  65000000                                   NaN  8844  tt0113497
1  False  65000000                                   NaN  8844  tt0113497

  original_language original_title  \
0                en      Toy Story
0                en      Toy Story
0                en      Toy Story
1                en        Jumanji
1                en        Jumanji

                                            overview popularity  \
0  Led by Woody, Andy's toys live happily in his ...  21.946943
0  Led by Woody, Andy's toys live happily in his ...  21.946943
0  Led by Woody, Andy's toys live happily in his ...  21.946943
1  When siblings Judy and Peter discover an encha...  17.015539
1  When siblings Judy and Peter discover an encha...  17.015539

                        poster_path  ... vote_average vote_count  \
0  /rhIRbceoE9lR4veEXuwCC2wARtG.jpg  ...          7.7     5415.0
0  /rhIRbceoE9lR4veEXuwCC2wARtG.jpg  ...          7.7     5415.0
0  /rhIRbceoE9lR4veEXuwCC2wARtG.jpg  ...          7.7     5415.0
1  /vzmL6fP7aPKNKPRTFnZmiUfciyV.jpg  ...          6.9     2413.0
1  /vzmL6fP7aPKNKPRTFnZmiUfciyV.jpg  ...          6.9     2413.0

   collection_id       collection_name            collection_poster_path  \
0        10194.0  Toy Story Collection  /7G9915LfUQ2lVfwMEEhDsn3kT4B.jpg
0        10194.0  Toy Story Collection  /7G9915LfUQ2lVfwMEEhDsn3kT4B.jpg
0        10194.0  Toy Story Collection  /7G9915LfUQ2lVfwMEEhDsn3kT4B.jpg
1            NaN                   NaN                               NaN
1            NaN                   NaN                               NaN

           collection_backdrop_path genres_name genres_0  \
0  /9FBwqcd9IRruEDUrTdcaafOMKUq.jpg   Animation      NaN
0  /9FBwqcd9IRruEDUrTdcaafOMKUq.jpg      Comedy      NaN
0  /9FBwqcd9IRruEDUrTdcaafOMKUq.jpg      Family      NaN
1                               NaN   Adventure      NaN
1                               NaN     Fantasy      NaN

              company_name  company_id
0  Pixar Animation Studios         3.0
0  Pixar Animation Studios         3.0
0  Pixar Animation Studios         3.0
1  Pixar Animation Studios         3.0
1  Pixar Animation Studios         3.0

[5 rows x 29 columns]

In [26]:
# Eliminar filas duplicadas basándonos en las columnas de identificadores únicos
production_companies_expanded = production_companies_expanded.drop_duplicates(subset=['id', 'company_id'])

# Mostrar el resultado final
print("Primeras filas del DataFrame limpio y sin duplicados:")
print(production_companies_expanded.head())

Primeras filas del DataFrame limpio y sin duplicados:
   adult    budget                              homepage     id    imdb_id  \
0  False  30000000  http://toystory.disney.com/toy-story    862  tt0114709
1  False  65000000                                   NaN   8844  tt0113497
2  False         0                                   NaN  15602  tt0113228
3  False  16000000                                   NaN  31357  tt0114885
4  False         0                                   NaN  11862  tt0113041

  original_language               original_title  \
0                en                    Toy Story
1                en                      Jumanji
2                en             Grumpier Old Men
3                en            Waiting to Exhale
4                en  Father of the Bride Part II

                                            overview popularity  \
0  Led by Woody, Andy's toys live happily in his ...  21.946943
1  When siblings Judy and Peter discover an encha...  17.015539
2  A family wedding reignites the ancient feud be...    11.7129
3  Cheated on, mistreated and stepped on, the wom...   3.859495
4  Just when George Banks has recovered from his ...   8.387519

                        poster_path  ... vote_average vote_count  \
0  /rhIRbceoE9lR4veEXuwCC2wARtG.jpg  ...          7.7     5415.0
1  /vzmL6fP7aPKNKPRTFnZmiUfciyV.jpg  ...          6.9     2413.0
2  /6ksm1sjKMFLbO7UY2i6G1ju9SML.jpg  ...          6.5       92.0
3  /16XOMpEaLWkrcPqSQqhTmeJuqQl.jpg  ...          6.1       34.0
4  /e64sOI48hQXyru7naBFyssKFxVd.jpg  ...          5.7      173.0

   collection_id                 collection_name  \
0        10194.0            Toy Story Collection
1            NaN                             NaN
2       119050.0       Grumpy Old Men Collection
3            NaN                             NaN
4        96871.0  Father of the Bride Collection

             collection_poster_path          collection_backdrop_path  \
0  /7G9915LfUQ2lVfwMEEhDsn3kT4B.jpg  /9FBwqcd9IRruEDUrTdcaafOMKUq.jpg
1                               NaN                               NaN
2  /nLvUdqgPgm3F85NMCii9gVFUcet.jpg  /hypTnLot2z8wpFS7qwsQHW1uV8u.jpg
3                               NaN                               NaN
4  /nts4iOmNnq7GNicycMJ9pSAn204.jpg  /7qwE57OVZmMJChBpLEbJEmzUydk.jpg

  genres_name genres_0             company_name  company_id
0   Animation      NaN  Pixar Animation Studios         3.0
1   Adventure      NaN  Pixar Animation Studios         3.0
2     Romance      NaN  Pixar Animation Studios         3.0
3      Comedy      NaN         TriStar Pictures       559.0
4      Comedy      NaN             Teitler Film      2550.0

[5 rows x 29 columns]

In [27]:
# Fusionar el DataFrame expandido de production_companies con el DataFrame original df_cleaned
df_final = df_cleaned.merge(production_companies_expanded[['id', 'company_name', 'company_id']], on='id', how='left')

# Revisar el resultado para asegurarnos de que todas las columnas están presentes
print("Primeras filas del DataFrame final con todas las columnas:")
print(df_final.head())
print("Columnas en el DataFrame final:", df_final.columns)

Primeras filas del DataFrame final con todas las columnas:
   adult    budget                              homepage    id    imdb_id  \
0  False  30000000  http://toystory.disney.com/toy-story   862  tt0114709
1  False  30000000  http://toystory.disney.com/toy-story   862  tt0114709
2  False  30000000  http://toystory.disney.com/toy-story   862  tt0114709
3  False  65000000                                   NaN  8844  tt0113497
4  False  65000000                                   NaN  8844  tt0113497

  original_language original_title  \
0                en      Toy Story
1                en      Toy Story
2                en      Toy Story
3                en        Jumanji
4                en        Jumanji

                                            overview popularity  \
0  Led by Woody, Andy's toys live happily in his ...  21.946943
1  Led by Woody, Andy's toys live happily in his ...  21.946943
2  Led by Woody, Andy's toys live happily in his ...  21.946943
3  When siblings Judy and Peter discover an encha...  17.015539
4  When siblings Judy and Peter discover an encha...  17.015539

                        poster_path  ... vote_average vote_count  \
0  /rhIRbceoE9lR4veEXuwCC2wARtG.jpg  ...          7.7     5415.0
1  /rhIRbceoE9lR4veEXuwCC2wARtG.jpg  ...          7.7     5415.0
2  /rhIRbceoE9lR4veEXuwCC2wARtG.jpg  ...          7.7     5415.0
3  /vzmL6fP7aPKNKPRTFnZmiUfciyV.jpg  ...          6.9     2413.0
4  /vzmL6fP7aPKNKPRTFnZmiUfciyV.jpg  ...          6.9     2413.0

  collection_id       collection_name            collection_poster_path  \
0       10194.0  Toy Story Collection  /7G9915LfUQ2lVfwMEEhDsn3kT4B.jpg
1       10194.0  Toy Story Collection  /7G9915LfUQ2lVfwMEEhDsn3kT4B.jpg
2       10194.0  Toy Story Collection  /7G9915LfUQ2lVfwMEEhDsn3kT4B.jpg
3           NaN                   NaN                               NaN
4           NaN                   NaN                               NaN

           collection_backdrop_path genres_name genres_0  \
0  /9FBwqcd9IRruEDUrTdcaafOMKUq.jpg   Animation      NaN
1  /9FBwqcd9IRruEDUrTdcaafOMKUq.jpg      Comedy      NaN
2  /9FBwqcd9IRruEDUrTdcaafOMKUq.jpg      Family      NaN
3                               NaN   Adventure      NaN
4                               NaN     Fantasy      NaN

              company_name company_id
0  Pixar Animation Studios        3.0
1  Pixar Animation Studios        3.0
2  Pixar Animation Studios        3.0
3  Pixar Animation Studios        3.0
4  Pixar Animation Studios        3.0

[5 rows x 30 columns]
Columnas en el DataFrame final: Index(['adult', 'budget', 'homepage', 'id', 'imdb_id', 'original_language',
       'original_title', 'overview', 'popularity', 'poster_path',
       'production_companies', 'production_countries', 'release_date',
       'revenue', 'runtime', 'spoken_languages', 'status', 'tagline', 'title',
       'video', 'vote_average', 'vote_count', 'collection_id',
       'collection_name', 'collection_poster_path', 'collection_backdrop_path',
       'genres_name', 'genres_0', 'company_name', 'company_id'],
      dtype='object')

In [28]:
# Encuentra las columnas duplicadas
duplicate_columns = df.columns[df.columns.duplicated()].tolist()
print("Columnas duplicadas:", duplicate_columns)

# Elimina las columnas duplicadas, manteniendo solo la primera aparición
df = df.loc[:, ~df.columns.duplicated()]

# Confirma que no hay columnas duplicadas
print("Columnas después de eliminar duplicados:", df.columns)

Columnas duplicadas: ['genres_id']
Columnas después de eliminar duplicados: Index(['adult', 'budget', 'homepage', 'id', 'imdb_id', 'original_language',
       'original_title', 'overview', 'popularity', 'poster_path',
       'production_companies', 'production_countries', 'release_date',
       'revenue', 'runtime', 'spoken_languages', 'status', 'tagline', 'title',
       'video', 'vote_average', 'vote_count', 'collection_id',
       'collection_name', 'collection_poster_path', 'collection_backdrop_path',
       'genres_adult', 'genres_budget', 'genres_homepage', 'genres_id',
       'genres_imdb_id', 'genres_original_language', 'genres_original_title',
       'genres_overview', 'genres_popularity', 'genres_poster_path',
       'genres_release_date', 'genres_revenue', 'genres_runtime',
       'genres_spoken_languages', 'genres_status', 'genres_tagline',
       'genres_title', 'genres_video', 'genres_vote_average',
       'genres_vote_count', 'genres_collection_id', 'genres_collection_name',
       'genres_collection_poster_path', 'genres_collection_backdrop_path',
       'genres_name', 'genres_0'],
      dtype='object')

In [29]:


# Convertir `production_countries` a listas de diccionarios si es una cadena
df['production_countries'] = df['production_countries'].apply(lambda x: ast.literal_eval(x) if isinstance(x, str) else x)

# Filtrar filas donde `production_countries` es nulo o vacío
df = df[df['production_countries'].notna() & df['production_countries'].apply(lambda x: len(x) > 0 if isinstance(x, list) else False)]

# Expandir la columna y extraer datos
df_expanded = df.explode('production_countries', ignore_index=True)

# Verificar que cada elemento sea un diccionario antes de extraer datos
df_expanded['country_code'] = df_expanded['production_countries'].apply(lambda x: x.get('iso_3166_1') if isinstance(x, dict) else None)
df_expanded['country_name'] = df_expanded['production_countries'].apply(lambda x: x.get('name') if isinstance(x, dict) else None)

# Eliminar la columna original ya que hemos extraído los datos
df_expanded = df_expanded.drop(columns=['production_countries'])

# Verificar el resultado
print(df_expanded[['country_code', 'country_name']].head())

  country_code              country_name
0           US  United States of America
1           US  United States of America
2           US  United States of America
3           US  United States of America
4           US  United States of America

In [30]:
# Concatenar las columnas desanidadas a df_final
df_final = pd.concat([df_final, df_expanded[['country_code', 'country_name']]], axis=1)

# Mostrar el DataFrame final después de la concatenación
print("DataFrame final después de concatenar las columnas desanidadas:")
print(df_final.head())

DataFrame final después de concatenar las columnas desanidadas:
   adult    budget                              homepage    id    imdb_id  \
0  False  30000000  http://toystory.disney.com/toy-story   862  tt0114709
1  False  30000000  http://toystory.disney.com/toy-story   862  tt0114709
2  False  30000000  http://toystory.disney.com/toy-story   862  tt0114709
3  False  65000000                                   NaN  8844  tt0113497
4  False  65000000                                   NaN  8844  tt0113497

  original_language original_title  \
0                en      Toy Story
1                en      Toy Story
2                en      Toy Story
3                en        Jumanji
4                en        Jumanji

                                            overview popularity  \
0  Led by Woody, Andy's toys live happily in his ...  21.946943
1  Led by Woody, Andy's toys live happily in his ...  21.946943
2  Led by Woody, Andy's toys live happily in his ...  21.946943
3  When siblings Judy and Peter discover an encha...  17.015539
4  When siblings Judy and Peter discover an encha...  17.015539

                        poster_path  ... collection_id       collection_name  \
0  /rhIRbceoE9lR4veEXuwCC2wARtG.jpg  ...       10194.0  Toy Story Collection
1  /rhIRbceoE9lR4veEXuwCC2wARtG.jpg  ...       10194.0  Toy Story Collection
2  /rhIRbceoE9lR4veEXuwCC2wARtG.jpg  ...       10194.0  Toy Story Collection
3  /vzmL6fP7aPKNKPRTFnZmiUfciyV.jpg  ...           NaN                   NaN
4  /vzmL6fP7aPKNKPRTFnZmiUfciyV.jpg  ...           NaN                   NaN

             collection_poster_path          collection_backdrop_path  \
0  /7G9915LfUQ2lVfwMEEhDsn3kT4B.jpg  /9FBwqcd9IRruEDUrTdcaafOMKUq.jpg
1  /7G9915LfUQ2lVfwMEEhDsn3kT4B.jpg  /9FBwqcd9IRruEDUrTdcaafOMKUq.jpg
2  /7G9915LfUQ2lVfwMEEhDsn3kT4B.jpg  /9FBwqcd9IRruEDUrTdcaafOMKUq.jpg
3                               NaN                               NaN
4                               NaN                               NaN

   genres_name genres_0             company_name company_id country_code  \
0    Animation      NaN  Pixar Animation Studios        3.0           US
1       Comedy      NaN  Pixar Animation Studios        3.0           US
2       Family      NaN  Pixar Animation Studios        3.0           US
3    Adventure      NaN  Pixar Animation Studios        3.0           US
4      Fantasy      NaN  Pixar Animation Studios        3.0           US

               country_name
0  United States of America
1  United States of America
2  United States of America
3  United States of America
4  United States of America

[5 rows x 32 columns]

DESANIDAR SPOKEN LANGUAGES

In [31]:
# Revisar los primeros valores de la columna `spoken_languages`
print(df['spoken_languages'].head())

# También podemos contar cuántas filas tienen valores nulos para ver si es necesario filtrarlos
print("Valores nulos en 'spoken_languages':", df['spoken_languages'].isna().sum())

0             [{'iso_639_1': 'en', 'name': 'English'}]
0             [{'iso_639_1': 'en', 'name': 'English'}]
0             [{'iso_639_1': 'en', 'name': 'English'}]
1    [{'iso_639_1': 'en', 'name': 'English'}, {'iso...
1    [{'iso_639_1': 'en', 'name': 'English'}, {'iso...
Name: spoken_languages, dtype: object
Valores nulos en 'spoken_languages': 0

In [32]:
# Convertir `spoken_languages` a listas de diccionarios si es una cadena
df['spoken_languages'] = df['spoken_languages'].apply(lambda x: ast.literal_eval(x) if isinstance(x, str) else x)

# Filtrar filas donde `spoken_languages` es nulo o vacío
df = df[df['spoken_languages'].notna() & df['spoken_languages'].apply(lambda x: len(x) > 0 if isinstance(x, list) else False)]

# Expandir la columna y extraer datos
df_expanded = df.explode('spoken_languages', ignore_index=True)

# Verificar que cada elemento sea un diccionario antes de extraer datos
df_expanded['language_code'] = df_expanded['spoken_languages'].apply(lambda x: x.get('iso_639_1') if isinstance(x, dict) else None)
df_expanded['language_name'] = df_expanded['spoken_languages'].apply(lambda x: x.get('name') if isinstance(x, dict) else None)

# Eliminar la columna original ya que hemos extraído los datos
df_expanded = df_expanded.drop(columns=['spoken_languages'])

# Concatenar los resultados en df_final
df_final = pd.concat([df_final, df_expanded[['language_code', 'language_name']]], axis=1)

# Verificar el resultado
print(df_final[['language_code', 'language_name']].head())

  language_code language_name
0            en       English
1            en       English
2            en       English
3            en       English
4            fr      Français

RELLENAR VALORES NULOS

In [34]:
# Rellenar valores nulos en las columnas 'revenue' y 'budget' con 0
df_final['revenue'] = df_final['revenue'].fillna(0)
df_final['budget'] = df_final['budget'].fillna(0)

# Verificar si se han rellenado los valores correctamente
print(df_final[['revenue', 'budget']].isnull().sum())

revenue    0
budget     0
dtype: int64

ELIMINAR LOS VALORES NULOS

In [35]:
# Eliminar filas con valores nulos en la columna 'release_date'
df_final = df_final.dropna(subset=['release_date'])

# Verificar si aún existen valores nulos en la columna 'release_date'
print("Valores nulos restantes en 'release_date':", df_final['release_date'].isnull().sum())

Valores nulos restantes en 'release_date': 0

CONVERTIR FECHAS

In [40]:
import pandas as pd

# Convertir la columna 'release_date' al formato de fecha AAAA-MM-DD
# coerce: convierte fechas inválidas en NaT, permitiendo detectar errores
df_final['release_date'] = pd.to_datetime(df_final['release_date'], errors='coerce')

# Verificar si alguna fecha no se pudo convertir (NaT indica errores de conversión)
invalid_dates = df_final['release_date'].isnull().sum()
print("Fechas inválidas o no convertidas:", invalid_dates)

# Crear la columna 'release_year' extrayendo el año de 'release_date'
df_final['release_year'] = df_final['release_date'].dt.year

# Verificar el resultado
print(df_final[['release_date', 'release_year']].head())

Fechas inválidas o no convertidas: 0
  release_date  release_year
0   1995-10-30          1995
1   1995-10-30          1995
2   1995-10-30          1995
3   1995-12-15          1995
4   1995-12-15          1995

In [41]:
# Mostrar filas con fechas inválidas
invalid_dates_df = df_final[df_final['release_date'].isnull()]
print(invalid_dates_df[['release_date']])

Empty DataFrame
Columns: [release_date]
Index: []

In [ ]:
# Eliminar filas con 'NaT' en la columna 'release_date'
# df_final = df_final.dropna(subset=['release_date'])

RETURN

In [44]:
# Convertir 'revenue' y 'budget' a tipo numérico, reemplazando errores de conversión con 0
df_final['revenue'] = pd.to_numeric(df_final['revenue'], errors='coerce').fillna(0)
df_final['budget'] = pd.to_numeric(df_final['budget'], errors='coerce').fillna(0)

# Crear la columna 'return' calculando revenue / budget, manejando divisiones por cero
df_final['return'] = df_final.apply(lambda row: row['revenue'] / row['budget'] if row['budget'] > 0 else 0, axis=1)

# Verificar el resultado
print(df_final[['revenue', 'budget', 'return']].head())

       revenue    budget     return
0  373554033.0  30000000  12.451801
1  373554033.0  30000000  12.451801
2  373554033.0  30000000  12.451801
3  262797249.0  65000000   4.043035
4  262797249.0  65000000   4.043035

ELIMINAR COLUMNAS INNECESARIAS

In [46]:
# Eliminar las columnas no necesarias
columns_to_drop = ['video', 'imdb_id', 'adult', 'original_title', 'poster_path', 'homepage']
df_final = df_final.drop(columns=columns_to_drop, errors='ignore')

# Verificar el resultado
print(df_final.head())

     budget    id original_language  \
0  30000000   862                en
1  30000000   862                en
2  30000000   862                en
3  65000000  8844                en
4  65000000  8844                en

                                            overview popularity  \
0  Led by Woody, Andy's toys live happily in his ...  21.946943
1  Led by Woody, Andy's toys live happily in his ...  21.946943
2  Led by Woody, Andy's toys live happily in his ...  21.946943
3  When siblings Judy and Peter discover an encha...  17.015539
4  When siblings Judy and Peter discover an encha...  17.015539

                                production_companies  \
0     [{'name': 'Pixar Animation Studios', 'id': 3}]
1     [{'name': 'Pixar Animation Studios', 'id': 3}]
2     [{'name': 'Pixar Animation Studios', 'id': 3}]
3  [{'name': 'TriStar Pictures', 'id': 559}, {'na...
4  [{'name': 'TriStar Pictures', 'id': 559}, {'na...

                                production_countries release_date  \
0  [{'iso_3166_1': 'US', 'name': 'United States o...   1995-10-30
1  [{'iso_3166_1': 'US', 'name': 'United States o...   1995-10-30
2  [{'iso_3166_1': 'US', 'name': 'United States o...   1995-10-30
3  [{'iso_3166_1': 'US', 'name': 'United States o...   1995-12-15
4  [{'iso_3166_1': 'US', 'name': 'United States o...   1995-12-15

       revenue  runtime  ... genres_name genres_0             company_name  \
0  373554033.0     81.0  ...   Animation      NaN  Pixar Animation Studios
1  373554033.0     81.0  ...      Comedy      NaN  Pixar Animation Studios
2  373554033.0     81.0  ...      Family      NaN  Pixar Animation Studios
3  262797249.0    104.0  ...   Adventure      NaN  Pixar Animation Studios
4  262797249.0    104.0  ...     Fantasy      NaN  Pixar Animation Studios

  company_id  country_code              country_name  language_code  \
0        3.0            US  United States of America             en
1        3.0            US  United States of America             en
2        3.0            US  United States of America             en
3        3.0            US  United States of America             en
4        3.0            US  United States of America             fr

  language_name release_year     return
0       English         1995  12.451801
1       English         1995  12.451801
2       English         1995  12.451801
3       English         1995   4.043035
4      Français         1995   4.043035

[5 rows x 30 columns]

ELIMINAR LAS COLUMNAS ANIDADAS

In [47]:
# Mostrar la lista de columnas actuales en el DataFrame
df_final.columns.tolist()

['budget',
 'id',
 'original_language',
 'overview',
 'popularity',
 'production_companies',
 'production_countries',
 'release_date',
 'revenue',
 'runtime',
 'spoken_languages',
 'status',
 'tagline',
 'title',
 'vote_average',
 'vote_count',
 'collection_id',
 'collection_name',
 'collection_poster_path',
 'collection_backdrop_path',
 'genres_name',
 'genres_0',
 'company_name',
 'company_id',
 'country_code',
 'country_name',
 'language_code',
 'language_name',
 'release_year',
 'return']

In [48]:
# Eliminar columnas originales anidadas que ya han sido desanidadas
columns_to_drop = ['production_companies', 'production_countries', 'spoken_languages']  # Ajusta según lo que tengas
df_final = df_final.drop(columns=columns_to_drop, errors='ignore')

# Verificar el resultado
print(df_final.head())

     budget    id original_language  \
0  30000000   862                en
1  30000000   862                en
2  30000000   862                en
3  65000000  8844                en
4  65000000  8844                en

                                            overview popularity release_date  \
0  Led by Woody, Andy's toys live happily in his ...  21.946943   1995-10-30
1  Led by Woody, Andy's toys live happily in his ...  21.946943   1995-10-30
2  Led by Woody, Andy's toys live happily in his ...  21.946943   1995-10-30
3  When siblings Judy and Peter discover an encha...  17.015539   1995-12-15
4  When siblings Judy and Peter discover an encha...  17.015539   1995-12-15

       revenue  runtime    status                                    tagline  \
0  373554033.0     81.0  Released                                        NaN
1  373554033.0     81.0  Released                                        NaN
2  373554033.0     81.0  Released                                        NaN
3  262797249.0    104.0  Released  Roll the dice and unleash the excitement!
4  262797249.0    104.0  Released  Roll the dice and unleash the excitement!

   ... genres_name  genres_0             company_name  company_id  \
0  ...   Animation       NaN  Pixar Animation Studios         3.0
1  ...      Comedy       NaN  Pixar Animation Studios         3.0
2  ...      Family       NaN  Pixar Animation Studios         3.0
3  ...   Adventure       NaN  Pixar Animation Studios         3.0
4  ...     Fantasy       NaN  Pixar Animation Studios         3.0

  country_code              country_name language_code language_name  \
0           US  United States of America            en       English
1           US  United States of America            en       English
2           US  United States of America            en       English
3           US  United States of America            en       English
4           US  United States of America            fr      Français

   release_year     return
0          1995  12.451801
1          1995  12.451801
2          1995  12.451801
3          1995   4.043035
4          1995   4.043035

[5 rows x 27 columns]

EXPORTAR

In [50]:

# Exportar el DataFrame final a un archivo CSV dentro de la carpeta 'Movies'
output_file_path = 'Movies/df_final_exported.csv'
df_final.to_csv(output_file_path, index=False)

output_file_path

'Movies/df_final_exported.csv'

In [49]:
from pandasgui import show
show(df_final)

PandasGUI INFO — pandasgui.gui — Opening PandasGUI
C:\Users\Greta\AppData\Local\Temp\ipykernel_12668\1963206411.py:2: FutureWarning:

Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`

C:\Users\Greta\AppData\Local\Temp\ipykernel_12668\1963206411.py:2: FutureWarning:

Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`

C:\Users\Greta\AppData\Local\Temp\ipykernel_12668\1963206411.py:2: FutureWarning:

Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`

C:\Users\Greta\AppData\Local\Temp\ipykernel_12668\1963206411.py:2: FutureWarning:

Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`

C:\Users\Greta\AppData\Local\Temp\ipykernel_12668\1963206411.py:2: FutureWarning:

Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`

C:\Users\Greta\AppData\Local\Temp\ipykernel_12668\1963206411.py:2: FutureWarning:

Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`