In [2]:
import pandas as pd

In [6]:
credits = pd.read_csv("C:\PerlaMar\GretaCombold\Progamacion\Data Science\M6\PI INDIVIDUAL\Movies\creditsfinal.csv")
movies = pd.read_csv("C:\PerlaMar\GretaCombold\Progamacion\Data Science\M6\PI INDIVIDUAL\Movies\df_final_exported.csv")

C:\Users\Greta\AppData\Local\Temp\ipykernel_6484\965036612.py:1: DtypeWarning: Columns (9,10,13,14,15) have mixed types. Specify dtype option on import or set low_memory=False.
  credits = pd.read_csv("C:\PerlaMar\GretaCombold\Progamacion\Data Science\M6\PI INDIVIDUAL\Movies\creditsfinal.csv")

In [8]:
credits = credits.dropna(subset=['id'])
credits['id'] = credits['id'].astype(int)

In [9]:
credits['id'] = credits['id'].astype(int)
movies['id'] = movies['id'].astype(int)

In [10]:
movies_credits_merged = movies.merge(credits, on='id', how='left')

In [11]:
print(movies_credits_merged.head())

     budget    id original_language  \
0  30000000   862                en
1  30000000   862                en
2  30000000   862                en
3  65000000  8844                en
4  65000000  8844                en

                                            overview  popularity release_date  \
0  Led by Woody, Andy's toys live happily in his ...   21.946943   1995-10-30
1  Led by Woody, Andy's toys live happily in his ...   21.946943   1995-10-30
2  Led by Woody, Andy's toys live happily in his ...   21.946943   1995-10-30
3  When siblings Judy and Peter discover an encha...   17.015539   1995-12-15
4  When siblings Judy and Peter discover an encha...   17.015539   1995-12-15

       revenue  runtime    status                                    tagline  \
0  373554033.0     81.0  Released                                        NaN
1  373554033.0     81.0  Released                                        NaN
2  373554033.0     81.0  Released                                        NaN
3  262797249.0    104.0  Released  Roll the dice and unleash the excitement!
4  262797249.0    104.0  Released  Roll the dice and unleash the excitement!

   ... cast_order                 cast_profile_path    id.1  \
0  ...        0.0  /pQFoyx7rp09CJTAb932F2g8Nlho.jpg   862.0
1  ...        0.0  /pQFoyx7rp09CJTAb932F2g8Nlho.jpg   862.0
2  ...        0.0  /pQFoyx7rp09CJTAb932F2g8Nlho.jpg   862.0
3  ...        1.0  /uX2xVf6pMmPepxnvFWyBtjexzgY.jpg  8844.0
4  ...        1.0  /uX2xVf6pMmPepxnvFWyBtjexzgY.jpg  8844.0

             crew_credit_id crew_department crew_gender  crew_id    crew_job  \
0  52fe4284c3a36847f8024f49       Directing         2.0   7879.0    Director
1  52fe4284c3a36847f8024f49       Directing         2.0   7879.0    Director
2  52fe4284c3a36847f8024f49       Directing         2.0   7879.0    Director
3  52fe4284c3a36847f8024f4f         Writing         2.0  12891.0  Screenplay
4  52fe4284c3a36847f8024f4f         Writing         2.0  12891.0  Screenplay

       crew_name                 crew_profile_path
0  John Lasseter  /7EdqiNbr4FRjIhKHyPPdFfEEEFG.jpg
1  John Lasseter  /7EdqiNbr4FRjIhKHyPPdFfEEEFG.jpg
2  John Lasseter  /7EdqiNbr4FRjIhKHyPPdFfEEEFG.jpg
3    Joss Whedon  /dTiVsuaTVTeGmvkhcyJvKp2A5kr.jpg
4    Joss Whedon  /dTiVsuaTVTeGmvkhcyJvKp2A5kr.jpg

[5 rows x 42 columns]

In [12]:
print(movies_credits_merged['cast_name'])

0                Tom Hanks
1                Tom Hanks
2                Tom Hanks
3                Tim Allen
4                Tim Allen
               ...
93912    Valente Rodriguez
93913    Valente Rodriguez
93914    Valente Rodriguez
93915           Brent Roam
93916                  NaN
Name: cast_name, Length: 93917, dtype: object

In [13]:
movies_credits_merged['id_comparison'] = movies_credits_merged['id'] == movies_credits_merged['id.1']

In [14]:
discrepancies = movies_credits_merged[movies_credits_merged['id_comparison'] == False]
print(discrepancies[['id', 'id.1']])

           id  id.1
325    124639   NaN
457     56088   NaN
575     43475   NaN
576     43475   NaN
577     43475   NaN
...       ...   ...
93867  455661   NaN
93876   44330   NaN
93886  122036   NaN
93894  276895   NaN
93916  461257   NaN

[3597 rows x 2 columns]

In [15]:
no_match = movies_credits_merged[movies_credits_merged['id.1'].isna()]
print(no_match.head(10))  # Muestra 10 filas sin coincidencia

      budget      id original_language  \
325        0  124639                en
457        0   56088                en
575        0   43475                en
576        0   43475                en
577        0   43475                en
578        0   43475                en
960        0   42981                en
1069       0   24257                en
1476       0  124472                en
1519       0  123505                en

                                               overview  popularity  \
325    A subtle yet violent commentary on feudal lords.    0.001205
457   A documentary about the culture of hip-hop. Th...    0.159596
575   The band is back together! Gumby reunites with...    0.090452
576   The band is back together! Gumby reunites with...    0.090452
577   The band is back together! Gumby reunites with...    0.090452
578   The band is back together! Gumby reunites with...    0.090452
960   Before computer graphics, special effects wiza...    0.142357
1069  Bruce Brown, king of surfing documentaries, re...    0.408159
1476  Art Kane, now deceased, coordinated a group ph...    0.076352
1519  A Modern Affair is an independent feature dire...    0.173207

     release_date  revenue  runtime    status  \
325    1995-08-01      0.0    122.0  Released
457    1995-08-25      0.0     93.0       NaN
575    1995-12-01      0.0     77.0  Released
576    1995-12-01      0.0     77.0  Released
577    1995-12-01      0.0     77.0  Released
578    1995-12-01      0.0     77.0  Released
960    1995-10-20      0.0     89.0  Released
1069   1994-06-03      0.0    109.0  Released
1476   1994-09-27      0.0     60.0  Released
1519   1996-09-06      0.0     90.0  Released

                                                tagline  ...  \
325                                                 NaN  ...
457       What Happens On Stage Is Only Half The Story!  ...
575                            The original green hero!  ...
576                            The original green hero!  ...
577                            The original green hero!  ...
578                            The original green hero!  ...
960                                                 NaN  ...
1069                                                NaN  ...
1476                                                NaN  ...
1519  They met, fell in love, and had a baby. (Not n...  ...

                     cast_profile_path  id.1            crew_credit_id  \
325                                NaN   NaN                       NaN
457   /aWRmTrlVgJM7lvPGYPrxQj7w4MX.jpg   NaN  5661581a925141790f0068fd
575                                NaN   NaN                       NaN
576                                NaN   NaN                       NaN
577                                NaN   NaN                       NaN
578                                NaN   NaN                       NaN
960                                NaN   NaN                       NaN
1069                               NaN   NaN                       NaN
1476                               NaN   NaN                       NaN
1519  /pZb3RDVxDNJAOaBHwa078Z4FJiO.jpg   NaN  5494296b9251416e180017c1

        crew_department crew_gender    crew_id      crew_job  \
325                 NaN         NaN        NaN           NaN
457               Sound         2.0  1406905.0  Music Editor
575                 NaN         NaN        NaN           NaN
576                 NaN         NaN        NaN           NaN
577                 NaN         NaN        NaN           NaN
578                 NaN         NaN        NaN           NaN
960                 NaN         NaN        NaN           NaN
1069                NaN         NaN        NaN           NaN
1476                NaN         NaN        NaN           NaN
1519  Costume & Make-Up         0.0  1401251.0   Hairstylist

             crew_name  crew_profile_path id_comparison
325                NaN                NaN         False
457    Michael Connell                NaN         False
575                NaN                NaN         False
576                NaN                NaN         False
577                NaN                NaN         False
578                NaN                NaN         False
960                NaN                NaN         False
1069               NaN                NaN         False
1476               NaN                NaN         False
1519  Charlene Johnson                NaN         False

[10 rows x 43 columns]

In [16]:
movies_credits_merged = movies_credits_merged.drop(columns=['id.1'])

In [17]:
movies_credits_merged.to_csv("C:\PerlaMar\GretaCombold\Progamacion\Data Science\M6\PI INDIVIDUAL\Movies\dataclean.csv", index=False)